# Database Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=123
POSTGRES_DB=companydb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Model Provider APIs (For upcoming Text-to-SQL pipeline)
GEMINI_API_KEY=your_gemini_api_key_here